services:
  frontend:
    build:
      context: .
      args:
        VITE_API_BASE_URL: http://localhost:3001
    ports:
      - "3000:80"
    environment:
      - VITE_API_BASE_URL=http://localhost:3001
    depends_on:
      - bff

  bff:
    build: ./bff
    ports:
      - "3001:3001"
    environment:
      - BACKEND_URL=https://192.168.1.245:5001
      - ALLOWED_ORIGINS=http://localhost:3000
      - NODE_TLS_REJECT_UNAUTHORIZED=0
